#recipe-page {
    background-color: #FFB200;
}
#instructions {
    position: absolute;
    right: 20px;
    left: auto;
    width: 200px;
    background-color: #EB5B00;
    padding-left: 50px;
    padding-right: 5px;
    margin-right: 25px;
    border-radius: 10px;
    margin-top: 100px;
}
#ingredients {
    position: absolute;
    left: 20px;
    right: auto;
    width: 250px;
    background-color: #EB5B00;
    padding-left: 5px;
    padding-right: 50px;
    margin-left: 25px;
    border-radius: 10px;
    margin-top: 100px;
}
#recipe-image {
    position: absolute;
    width: 450px;
    left: 40%;
    background-color: #640D5F;
    padding: 15px;
    border-radius: 10px;
    color: antiquewhite;
    margin-top: 125px;
}
#footer {
    position: fixed;
    background-color: #EB5B00;
    bottom: 0px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: xx-small;
    opacity: 0.65;
}
article {
    background-color: #EB5B00;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #05204A;
    position: absolute;
    padding-left: 5px;
    border-radius: 10px;
}
#recipe-title {
    opacity: 0.75;
    background-color: #640D5F;
    color: whitesmoke;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    background-color: #FFB200;
}
.ingredient-item {
    color: white;
    list-style-type: circle;
}
.step {
    list-style: lower-greek;
    color: white;
}
span {
    background-color: yellow;
    color: black;
}
#recipe-tips {
    position:absolute;
    margin-top: 100px;
    left: 345px;
    width: 155px;
    background-color: #EB5B00;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: smaller;
}